<header>
  <img src="https://nextcloud.fowlie.dev/s/r3bYBxyYgCbwrf8/preview" />
  <h1>Noel Fowlie</h1>
  <h3>Web Developer</h3>
</header>

<main>
  <section>
    <p>Hi! My name is Noel Echo Fowlie.</p>
    <p>
      I've been a web developer for 15 years.
    </p>
    <p>
      I am passionate about tech. Always trying out new technologies, applications, and hardware.
    </p>
    <p>I self host many of the applications I use daily, giving me hands on experience with server and DNS management.
    </p>
  </section>
</main>