<header>
  <img src="./assets/img/noel.webp" />
  <h1>Noel Fowlie</h1>
  <h3>Web Developer</h3>
</header>

<main>
  <section>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quas
    delectus et, quis adipisci ad iste inventore iure cumque ducimus? Optio
    voluptas suscipit recusandae itaque accusantium neque nostrum facere
    quibusdam, placeat quis earum, quisquam eligendi, maiores expedita
    perspiciatis perferendis natus? Facere, facilis deserunt illo magnam, vel
    unde officiis quibusdam mollitia expedita voluptatum modi aliquam
    necessitatibus nesciunt consequuntur qui, quaerat accusantium! Cumque animi
    suscipit autem nemo nisi molestias fuga optio expedita doloremque, saepe
    iure, eius dolorem. Adipisci a unde magnam? Non animi explicabo modi! Labore
    necessitatibus obcaecati temporibus, accusantium voluptatem quam tempore
    dolore quae deserunt debitis itaque, quis doloribus blanditiis dolorum
    inventore possimus molestiae perspiciatis vero expedita beatae quos optio
    odio minus illum! Dicta dolores eius molestias veritatis. Blanditiis,
    voluptate minima obcaecati temporibus tempore error dicta dolore eveniet
    voluptates esse consequuntur delectus soluta culpa, nulla iusto quo fuga
    praesentium maxime officiis commodi perspiciatis amet inventore facere
    aperiam! Quibusdam nisi nihil temporibus dolor magni sint doloremque non,
    veniam adipisci iusto amet vel voluptates obcaecati delectus eum itaque
    deleniti fugit aperiam perspiciatis velit distinctio blanditiis? Assumenda
    fuga nihil numquam distinctio, quod quibusdam, ea ex natus inventore ratione
    quisquam. Laboriosam porro cumque fugiat numquam molestias eveniet est
    possimus eius, quo, aliquam obcaecati beatae saepe?
  </section>
  <section>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque non
    enim consequuntur pariatur deserunt beatae, id labore soluta voluptatibus,
    impedit veritatis iure amet sint modi distinctio harum laboriosam fugit
    velit et ducimus necessitatibus accusamus! Quia dolorem, exercitationem
    itaque magnam ipsa praesentium provident qui ut temporibus ea voluptatem
    minus veniam dolorum quam ipsam, deserunt perferendis iusto ex, vel ad
    libero doloremque?
  </section>
</main>
