<header>
  <img src="https://nextcloud.fowlie.dev/index.php/s/mHsiyEqzSmof7o2/preview" />
  <h1>Noel Fowlie</h1>
  <h3>Front End Web Developer - Extra</h3>
</header>

<main>
  <section>
    <p>Hi! My name is Noel Echo Fowlie.</p>
    <p>
      I've been a web developer hobbyist for 15 years and a professional for 7
      of those.
    </p>
    <p>
      I am passionate about tech. Always trying out new and interesting things,
      from different Linux Distros to new pieces of hardware, I am always
      tinkering.
    </p>
    <p>
      Currently I am a full time employee at Extra, working as a Front End Web
      Developer.
    </p>
  </section>
</main>
