<main>
  <h1>Resume</h1>
  <section>
    <section class="contact">
      <h2>Noel Fowlie</h2>
      <p>(704) 699-9544</p>
      <p>noel@fowlie.dev</p>
    </section>
    <section class="skills">
      <h3>Skills</h3>
      <p>
        JavaScript, HTML, CSS, VueJS, NodeJS, Git, Jira, Linux, MacOS, Windows
      </p>
    </section>
    <section class="experience">
      <h3>Experience</h3>
      <h4>Extra, Los Angeles, CA - Front End Developer</h4>
      <h5>November 2021 - Present</h5>
      <ul>
        <li>
          Worked on many aspects of the business from Front End Development to
          Dev Ops to Organization structure changes
        </li>
        <li>Projects have included:</li>
        <ul>
          <li>Landing and Influencer Pages</li>
          <ul>
            <li>Built out Landing and Influencer Pages in Webflow</li>
            <li>
              Lead the transition of our Landing and Influencer Pages from
              Webflow into SanityIO
            </li>
          </ul>
          <li>Giveaways</li>
          <ul>
            <li>
              Made self building route giveaway pages that pull data from
              SanityIO based on the URL in the browser
            </li>
          </ul>
          <li>Sign-up Flow Redesign</li>
          <ul>
            <li>Worked on the sign-up flow redesign for our company</li>
            <li>Built pixel perfect designs</li>
            <li>Built an Address verification step using Smarty</li>
            <li>
              Hooked up the new sign-up flow to existing and new api endpoints
            </li>
          </ul>
          <li>Build Process Optimization</li>
          <ul>
            <li>
              Decreased our build and deploy time for our site by 15 minutes by
              debugging issues within our build process
            </li>
          </ul>
          <li>Documentation Revamp</li>
          <ul>
            <li>
              Led a department wide effort to create searchable up to date
              documentation
            </li>
          </ul>
          <li>Onboarding Revamp</li>
          <ul>
            <li>
              Led a department wide effort to optimize our onboarding process
            </li>
            <li>
              Created Templatized Onboarding Documents that are used to create
              individualized Onboarding Experiences for new hires
            </li>
          </ul>
        </ul>
        <li>
          Projects have utilized HTML, CSS, JavaScript, VueJS, React, React
          Native, Webflow, SanitIO, Google Tag Manager, Google Optimize, and
          Google Analytics
        </li>
        <li>Google Tag Manager (GTM)</li>
        <ul>
          <li>Created custom tags and events in GTM</li>
        </ul>
        <li>Google Optimize</li>
        <ul>
          <li>
            Ran multiple A/B tests across our site to determine which design
            direction to go towards
          </li>
        </ul>
        <li>Google Analytics</li>
      </ul>
      <h4>Mood Media, Fort Mill, SC - Front End Developer</h4>
      <h5>January 2017 - July 2021</h5>
      <ul>
        <li>
          Software development for digital signage and interactive displays.
        </li>
        <li>Projects have included:</li>
        <ul>
          <li>Restaurant Menus</li>
          <li>Building Directories</li>
          <li>Event Calendars</li>
          <li>Slideshows with data from feeds</li>
          <ul>
            <li>Including OAuth enabled data</li>
            <ul>
              <li>
                Using Twitter APIs to pull down user search queries for display
              </li>
            </ul>
          </ul>
          <li>Jukebox style music voting application</li>
          <li>In Store and Trade Show Kiosks</li>
        </ul>
        <li>Projects have utilized HTML, CSS, JavaScript, and VueJS</li>
        <li>Writing NodeJS applications to pull data from feed sites</li>
        <ul>
          <li>
            Pulling information such as weather, event data, stock pricing, etc
            for display on digital signage.
          </li>
        </ul>
        <li>
          Interactive touch screen web applications optimized for low powered
          devices.
        </li>
      </ul>
      <h4>Wells Fargo, Charlotte, NC - Jr. Front End Developer</h4>
      <h5>June 2015 - December 2016</h5>
      <ul>
        <li>
          Developed the front end for internal inventory management software.
        </li>
        <li>Contributed to various other internal tools.</li>
        <li>Utilized Angular 1.x, Bootstrap, HTML, CSS, and JavaScript</li>
      </ul>
    </section>
    <section class="education">
      <h3>Education</h3>
      <h4>
        University of North Carolina Charlotte, Charlotte — Management And
        Information Systems
      </h4>
      <h5>August 2011 - May 2015</h5>
    </section>
    <section class="hobbies">
      <h3>Hobbies and Interests</h3>
      <h5>
        Web development, game development, raspberry pi tinkering, reading,
        video games, anime, longboarding.
      </h5>
    </section>
  </section>
</main>
